<form method="post" action="{{ path('app_painting_delete', {'id': painting.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ painting.id) }}">
    <button type="submit" class="bg-error-500 text-white px-4 py-2 rounded-lg hover:bg-error-600">
        Supprimer
    </button>
</form>
